{
    "workbench.iconTheme": "material-icon-theme",
    "workbench.colorTheme": "Atom One Dark",
    "workbench.activityBar.visible": true,
    "workbench.editor.closeEmptyGroups": false,
    "workbench.editor.labelFormat": "short",
    "workbench.editor.revealIfOpen": true,
    "workbench.editor.showTabs": "multiple",
    "workbench.sideBar.location": "left",
    "workbench.statusBar.visible": true,
    "workbench.startupEditor": "none",
    "zenMode.fullScreen": false,
    "zenMode.hideLineNumbers": false,
    "zenMode.hideTabs": false,
    "editor.suggestSelection": "first",
    "diffEditor.ignoreTrimWhitespace": false,
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "window.title": "${activeEditorLong}${separator}${rootName}",
    "editor.minimap.enabled": false,
    "breadcrumbs.enabled": false,
    "editor.tabSize": 2,
    "todo-tree.tree.showScanModeButton": false,
    // "explorer.confirmDragAndDrop": false,
    "trailing-spaces.trimOnSave": true,
    "files.insertFinalNewline": true,
    "files.associations": {
        "*.yaml": "yaml"
    },
    "gitlens.menus": {
        "editor": false,
        "editorGroup": false,
        "editorTab": false,
        "explorer": false,
        "scmGroup": false,
        "scmItem": false
    },
    "[yaml, yml, tf, tfvars, json]": {
        "editor.insertSpaces": true,
        "editor.tabSize": 2,
        "editor.quickSuggestions": {
            "other": true,
            "comments": false,
            "strings": true
        },
        "editor.autoIndent": "full"
    },
    "[py]": {
        "editor.insertSpaces": true,
        "editor.tabSize": 4,
        "editor.quickSuggestions": {
            "other": true,
            "comments": false,
            "strings": true
        },
        "editor.autoIndent": "full"
    },
    "python.languageServer": "Default",
    "files.trimTrailingWhitespace": true,
    "workbench.editorAssociations": {
        "*.ipynb": "jupyter-notebook",
        "*.xlsx": "default"
    },
    "notebook.cellToolbarLocation": {
        "default": "right",
        "jupyter-notebook": "left"
    },
    "path-autocomplete.triggerOutsideStrings": true,
    "ruby.codeCompletion": "rcodetools",
    "ruby.format": "rubocop",
    "ruby.intellisense": "rubyLocate",
    "ruby.useLanguageServer": true,
    "redhat.telemetry.enabled": false,
    "editor.bracketPairColorization.enabled": true,
    "sync.autoDownload": true,
    "sync.autoUpload": true,
    "sync.quietSync": true,
    "editor.renderWhitespace": "all",
    "vim.smartRelativeLine": true,
    "typescript.tsserver.log": "verbose",
    "typescript.updateImportsOnFileMove.enabled": "always",
    "[json]": {
        "editor.defaultFormatter": "vscode.json-language-features"
    },
    "window.zoomLevel": 0.8,
    "git.autofetch": true,
    "git.confirmSync": false,
    "go.toolsManagement.autoUpdate": true,
    "[python]": {
        "editor.formatOnType": true
    },
    "yaml.customTags": [
        "!And",
        "!And sequence",
        "!If",
        "!If sequence",
        "!Not",
        "!Not sequence",
        "!Equals",
        "!Equals sequence",
        "!Or",
        "!Or sequence",
        "!FindInMap",
        "!FindInMap sequence",
        "!Base64",
        "!Join",
        "!Join sequence",
        "!Cidr",
        "!Ref",
        "!Sub",
        "!Sub sequence",
        "!GetAtt",
        "!GetAZs",
        "!ImportValue",
        "!ImportValue sequence",
        "!Select",
        "!Select sequence",
        "!Split",
        "!Split sequence"
    ],
    "better-comments.multilineComments": true,
    "better-comments.highlightPlainText": false,
    "better-comments.tags": [
    {
        "tag": "!",
        "color": "#FF2D00",
        "strikethrough": false,
        "underline": false,
        "backgroundColor": "transparent",
        "bold": false,
        "italic": false
    },
    {
        "tag": "?",
        "color": "#3498DB",
        "strikethrough": false,
        "underline": false,
        "backgroundColor": "transparent",
        "bold": false,
        "italic": false
    },
    {
        "tag": "//",
        "color": "#474747",
        "strikethrough": true,
        "underline": false,
        "backgroundColor": "transparent",
        "bold": false,
        "italic": false
    },
    {
        "tag": "todo",
        "color": "#FF8C00",
        "strikethrough": false,
        "underline": false,
        "backgroundColor": "transparent",
        "bold": false,
        "italic": false
    },
    {
        "tag": "*",
        "color": "#98C379",
        "strikethrough": false,
        "underline": false,
        "backgroundColor": "transparent",
        "bold": false,
        "italic": false
    }
    ],
    "terminal.external.osxExec": "Warp.app"
}