// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)

{
  "context_servers": {
    "Context7": {
      "source": "custom",
      "enabled": true,
      "command": "npx",
      "args": [
        "-y",
        "@upstash/context7-mcp"
      ],
      "env": {}
    },
    "mcp-server-context7": {
      "source": "extension",
      "enabled": true,
      "settings": {
        "default_minimum_tokens": "10000"
      }
    }
  },
  "agent": {
    "inline_assistant_model": {
      "provider": "ollama",
      "model": "qwen3-coder:latest"
    },
    "default_model": {
      "provider": "ollama",
      "model": "qwen3-coder:latest"
    }
  },
  "features": {
    "edit_prediction_provider": "zed"
  },
  "file_types": {
    "Jinja2": ["*.j2"]
  },
  "context": "Editor && edit_prediction_conflict",
  "bindings": {
    // Here we bind tab to accept even when there's a language server completion
    "tab": "editor::AcceptEditPrediction"
  },
  "icon_theme": "Material Icon Theme",
  "ui_font_size": 16,
  "buffer_font_size": 16,
  "buffer_font_family": "JetBrainsMono Nerd Font",
  "theme": {
    "mode": "system",
    "light": "Warp One Dark",
    "dark": "One Dark"
  }
}
